body {
	background-color: #eee;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}
#head1{
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	color: white;
	padding: 7px;
}

#head2{
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	color: white;
	padding: 7px;
}

div {
	background-color: #aaa;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}

button {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: block;
	margin: 0 0 0 auto;
	margin-right: 5px;
}

p {
	background-color: #ccc;
	padding: 10px;
	border-radius: 5px;
}

.extra{
	border: none;
	padding: 10px;
	border-radius: 15px;
}

.google, .linkedin{
	display: block;
	margin: 20px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}

#image{
	height: 400px;
	width: 400px;
	display: block;
	margin: 0 auto;
	object-fit: contain;
}

#input{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 375px;
	padding: 10px;
	border-radius: 10px;
	color: #000;
	font-size: 20px;
	background-color: rgba(25, 175, 250, 0.275);	
}

#input:focus{
	outline: none;
}

#input::placeholder{
	color: #020202;
}

.count{
	text-align: center;
	margin: 0px 75px;
	border-radius: 12px;
	padding: 10px;
	font-weight: bold;
}

.start, .stop, .reset{
	margin-left: 10px;
	border-radius: 10px;
}

.inner{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.windowClass{
	margin: 5px;
}


#errorMSG{
	color: red;
	margin-top: 7px;
	display: none;
}


.first{
	width: 300px;
	height: 300px;
	background-color: red;
}

.second{
	width: 200px;
	height: 200px;
	background-color: green;
}

.third{
	width: 100px;
	height: 100px;
	background-color: blue;
}